<div class="container-search-bar">
  <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-5">
          <div class="form"> <i class="fa fa-search"></i> <input type="text" class="form-control form-input" name="filtro" [(ngModel)]="filtro" placeholder="Busca por autor, titulo, año"> <span class="left-pan"><i class="fa fa-times"></i></span> </div>
      </div>
  </div>
</div>

<div class="container book-list">
  <div class="row">
      <div class="col-lg">
          <div class="book-listing-item" *ngFor='let book of books | filter:filtro'>
              <div class="list-grid-item mt-4 p-2">
                  <div class="row">
                      <div class="col-md-9">
                          <div class="book-img float-left mr-4">
                              <img src="https://img.jakpost.net/c/2019/03/02/2019_03_02_66706_1551461528._large.jpg" alt="" class="img-fluid d-block rounded">
                          </div>
                          <div class="book-list-desc job-single-meta  pt-2">
                              <h5 class="mb-2 f-19"><a href="#" class="text-dark">{{book.titulo}}</a></h5>
                              <ul class="list-inline mb-0">
                                  <li class="list-inline-item mr-4">
                                      <p class="text-muted f-15 mb-0"><i class="mdi mdi-account mr-1"></i>Genero: {{book.genero}}</p>
                                  </li>

                                  <li class="list-inline-item mr-4">
                                      <p class="f-15 mb-0"><a href="" class="text-muted"><i class="mdi mdi-map-marker mr-1"></i>{{book.paginas}} paginas</a></p>
                                  </li>

                                  <li class="list-inline-item">
                                      <p class="text-muted f-15 mb-0"><i class="mdi mdi-currency-usd mr-1"></i>año: {{book.ano}}</p>
                                  </li>
                              </ul>
                              <p class="text-muted mt-1 mb-0">Autor: {{book.autor.nombre}}</p>
                              <p class="text-muted mt-1 mb-0">Editorial: {{book.editorial.nombre}}</p>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>
